# **Leitura de CSV em Python**

**Descrição:**

**Vamos aplicar os conceitos aprendidos**
1. Neste desafio, propomos a leitura de um arquivo .csv com read_csv junto com algum dos argumentos que vimos. Trabalharemos em grupos aleatórios formados com as seguintes instruções:
   * Ler o arquivos enquete.txt, disponível na pasta da aula. **Cuidado, contém espaços em branco**.
   * Definir quais variáveis podem ser booleanos (0 ou 1 para True ou False).
   * Converter booleanos diretamente na leitura read_csv.
   * Começar a ler a partir da linha 5 mantendo o header origainal.
   * Importar apenas as colunas que não contém ```NaN```

In [1]:
import pandas as pd

1. Ler o arquivos enquete.txt, disponível na pasta da aula. Cuidado, contém espaços em branco.

In [10]:
enquete_df = pd.read_csv(
    'https://raw.githubusercontent.com/jherfson/curso-coderhouse/main/aula11/enquete.txt',
    header=None,
    delim_whitespace=True,
)
enquete_df.head()

/tmp/ipykernel_112956/519675426.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  enquete_df = pd.read_csv(

                                  0        1      2               3     4
0                                ID  asistio  Tarea  Comportamiento  Pago
1   cef3615d61b202f1dc794ef2746df14        1    1.0             0.0    si
2   323e5a13644d18185c743c241407754        0    0.0             NaN    no
3   b29a107e5cd062e654a63764157461d        0    0.0             NaN    no
4  04a11e4bcb573a1261eb0d9948d32637        1    0.0             0.0    si

2. Definir quais variáveis podem ser booleanos (0 ou 1 para True ou False).
3. Converter booleanos diretamente na leitura read_csv.

In [32]:
enquete_df = pd.read_csv(
    'https://raw.githubusercontent.com/jherfson/curso-coderhouse/main/aula11/enquete.txt',
    header=None,
    sep='\s+',
    dtype = {
        'asistio':bool,
        'Tarea':bool
    }
)
enquete_df

                                   0        1      2               3     4
0                                 ID  asistio  Tarea  Comportamiento  Pago
1    cef3615d61b202f1dc794ef2746df14        1    1.0             0.0    si
2    323e5a13644d18185c743c241407754        0    0.0             NaN    no
3    b29a107e5cd062e654a63764157461d        0    0.0             NaN    no
4   04a11e4bcb573a1261eb0d9948d32637        1    0.0             0.0    si
5    9368291c3d5d5f5c8cdb1a575e18bec        1    0.0             0.0    si
6    dd0e77eab270e4b67c19b0d6bbf621b        0    0.0             NaN    no
7    7599c0aa419b59fd11ffede98a3665d        0    0.0             NaN    si
8    6dff182b452487f07a47596f314bddc        0    1.0             NaN    si
9    9dc233fed1c6eb2432672ab4bb39249        0    0.0             NaN    no
10  265fa78a1fb2409ff5416aec3c4f950d        1    0.0             0.0    si
11  3b461f95fe50be35b927c255b3f7dc3a        1    1.0             1.0    no
12  e786f1288887afb309eb913d28ffd6b0        1    0.0             0.0    si
13   10c74fd18bddfb3e26c1878a853e7f8        1    0.0             0.0    si
14   13b67c51d575bf29827debf0618b445        1    0.0             0.0    si
15   1f641566628797bf0f811701e818b2c        1    1.0             0.0    si
16  1ae10dc0d6fed06e8954af5f313cedf1        0    0.0             NaN    si
17  7dfbad6a32c7477604dea655327f20a2        0    0.0             NaN    si
18  b953218838a2f7057ec179cae0cf83ad        1    0.0             1.0    si
19  87fcfe4315ee8a3fb554d8bf608cb2ac        1    0.0             0.0    si
20  9b4935e514bdc9b66a35a085c229775c        1    1.0             0.0    si
21  8cf2a0f6b368a4a42572f775df0f5f90        1    1.0             1.0    no
22  b3d1716309461078c892edcd68db7d4c        1    0.0             0.0    si
23  be38b0df499caf723af579aa6b173b0a        0    1.0             NaN    no
24  97d2a0572f74acd8c4683ce7b72039db        1    1.0             0.0    si
25  4bfe54e669aa8eaf4c9db1b809f3b511        0    0.0             NaN    no
26  36f9d95975bfd2c89cfe75baca2d58d2        1    0.0             0.0    si
27  e886db962a67fdf6cddbd4e85ea5d6e6        0    1.0             NaN    si
28  212332278cfd07d49c4df986e6fbda1e        1    1.0             0.0    si
29  fb120d2658407cbedfd9f1136c94ac61        1    0.0             1.0    si
30  df891ef669fb23701f6622f14843bda2        0    1.0             NaN    si

4. Começar a ler a partir da linha 5 mantendo o header origainal.

In [31]:
enquete_df = pd.read_csv(
    'https://raw.githubusercontent.com/jherfson/curso-coderhouse/main/aula11/enquete.txt',
    header=None,
    sep='\s+',
    dtype = {
        'asistio':bool,
        'Tarea':bool
    },
    skiprows = [i for i in range(1, 5)]
)
enquete_df

                                   0        1      2               3     4
0                                 ID  asistio  Tarea  Comportamiento  Pago
1    9368291c3d5d5f5c8cdb1a575e18bec        1    0.0             0.0    si
2    dd0e77eab270e4b67c19b0d6bbf621b        0    0.0             NaN    no
3    7599c0aa419b59fd11ffede98a3665d        0    0.0             NaN    si
4    6dff182b452487f07a47596f314bddc        0    1.0             NaN    si
5    9dc233fed1c6eb2432672ab4bb39249        0    0.0             NaN    no
6   265fa78a1fb2409ff5416aec3c4f950d        1    0.0             0.0    si
7   3b461f95fe50be35b927c255b3f7dc3a        1    1.0             1.0    no
8   e786f1288887afb309eb913d28ffd6b0        1    0.0             0.0    si
9    10c74fd18bddfb3e26c1878a853e7f8        1    0.0             0.0    si
10   13b67c51d575bf29827debf0618b445        1    0.0             0.0    si
11   1f641566628797bf0f811701e818b2c        1    1.0             0.0    si
12  1ae10dc0d6fed06e8954af5f313cedf1        0    0.0             NaN    si
13  7dfbad6a32c7477604dea655327f20a2        0    0.0             NaN    si
14  b953218838a2f7057ec179cae0cf83ad        1    0.0             1.0    si
15  87fcfe4315ee8a3fb554d8bf608cb2ac        1    0.0             0.0    si
16  9b4935e514bdc9b66a35a085c229775c        1    1.0             0.0    si
17  8cf2a0f6b368a4a42572f775df0f5f90        1    1.0             1.0    no
18  b3d1716309461078c892edcd68db7d4c        1    0.0             0.0    si
19  be38b0df499caf723af579aa6b173b0a        0    1.0             NaN    no
20  97d2a0572f74acd8c4683ce7b72039db        1    1.0             0.0    si
21  4bfe54e669aa8eaf4c9db1b809f3b511        0    0.0             NaN    no
22  36f9d95975bfd2c89cfe75baca2d58d2        1    0.0             0.0    si
23  e886db962a67fdf6cddbd4e85ea5d6e6        0    1.0             NaN    si
24  212332278cfd07d49c4df986e6fbda1e        1    1.0             0.0    si
25  fb120d2658407cbedfd9f1136c94ac61        1    0.0             1.0    si
26  df891ef669fb23701f6622f14843bda2        0    1.0             NaN    si

5. Importar apenas as colunas que não contém NaN

In [33]:
enquete_df = pd.read_csv(
    'https://raw.githubusercontent.com/jherfson/curso-coderhouse/main/aula11/enquete.txt',
    header=None,
    sep='\s+',
    dtype = {
        'asistio':bool,
        'Tarea':bool
    },
    skiprows = [i for i in range(1, 5)],
    usecols=[0, 1, 1, 4]
)
enquete_df

                                   0        1     4
0                                 ID  asistio  Pago
1    9368291c3d5d5f5c8cdb1a575e18bec        1    si
2    dd0e77eab270e4b67c19b0d6bbf621b        0    no
3    7599c0aa419b59fd11ffede98a3665d        0    si
4    6dff182b452487f07a47596f314bddc        0    si
5    9dc233fed1c6eb2432672ab4bb39249        0    no
6   265fa78a1fb2409ff5416aec3c4f950d        1    si
7   3b461f95fe50be35b927c255b3f7dc3a        1    no
8   e786f1288887afb309eb913d28ffd6b0        1    si
9    10c74fd18bddfb3e26c1878a853e7f8        1    si
10   13b67c51d575bf29827debf0618b445        1    si
11   1f641566628797bf0f811701e818b2c        1    si
12  1ae10dc0d6fed06e8954af5f313cedf1        0    si
13  7dfbad6a32c7477604dea655327f20a2        0    si
14  b953218838a2f7057ec179cae0cf83ad        1    si
15  87fcfe4315ee8a3fb554d8bf608cb2ac        1    si
16  9b4935e514bdc9b66a35a085c229775c        1    si
17  8cf2a0f6b368a4a42572f775df0f5f90        1    no
18  b3d1716309461078c892edcd68db7d4c        1    si
19  be38b0df499caf723af579aa6b173b0a        0    no
20  97d2a0572f74acd8c4683ce7b72039db        1    si
21  4bfe54e669aa8eaf4c9db1b809f3b511        0    no
22  36f9d95975bfd2c89cfe75baca2d58d2        1    si
23  e886db962a67fdf6cddbd4e85ea5d6e6        0    si
24  212332278cfd07d49c4df986e6fbda1e        1    si
25  fb120d2658407cbedfd9f1136c94ac61        1    si
26  df891ef669fb23701f6622f14843bda2        0    si