# **Data Acquisition e Data Wrangling**

## **Exercício 1:**
Ler os dados do banco **nba_salary.sqlite**. Extrair ambas as tabelas.

## **Exercício 2:**
Verificar quantos dados nulos estão presentes em cada tabela. 
Analisar quais colunas e linhas você eliminaria. 
Se possível aplique alguma técnica de imputação

## **Exercício 3:**
Da tabela de **Seasons_Stats**, selecione apenas o ano 2017. 
Analisar porque vários jogadores aparecem várias vezes em um mesmo ano. 
O mesmo para a tabela **From NBA_season1718_salary**.

1. Ler os dados do banco nba_salary.sqlite. Extrair ambas as tabelas.

In [13]:
import os
import pandas as pd
import sqlalchemy as db
from dotenv import load_dotenv

In [20]:
load_dotenv()
caminho = os.getenv('DIRETORIO2')
nome_arquivo = 'nba_salary.sqlite'
arquivo = os.path.join(caminho, nome_arquivo)

engine = db.create_engine('sqlite:///' + arquivo)
connection = engine.connect()

In [22]:
# AS TABELAS
NBA_season1718_salary = "SELECT * FROM NBA_season1718_salary"
Seasons_Stats = "SELECT * FROM Seasons_Stats"

In [24]:
df_nba_season = pd.read_sql_query(
    NBA_season1718_salary,
    connection
)
df_nba_season

        X1          Player   Tm  season17_18
0      1.0   Stephen Curry  GSW   34682550.0
1      2.0    LeBron James  CLE   33285709.0
2      3.0    Paul Millsap  DEN   31269231.0
3      4.0  Gordon Hayward  BOS   29727900.0
4      5.0   Blake Griffin  DET   29512900.0
..     ...             ...  ...          ...
568  569.0      Quinn Cook  NOP      25000.0
569  570.0   Chris Johnson  HOU      25000.0
570  571.0      Beno Udrih  DET      25000.0
571  572.0   Joel Bolomboy  MIL      22248.0
572  573.0    Jarell Eddie  CHI      17224.0

[573 rows x 4 columns]

In [26]:
df_seasons_stats = pd.read_sql_query(
    Seasons_Stats,
    connection
)
df_seasons_stats

,X1,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1.0,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2.0,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3.0,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4.0,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686.0,2017.0,Cody Zeller,PF,24.0,CHO,62.0,NaN,1725.0,16.7,...,0.679,NaN,NaN,405.0,99.0,NaN,NaN,NaN,189.0,639.0
24687,24687.0,2017.0,Tyler Zeller,C,27.0,BOS,51.0,NaN,525.0,13.0,...,0.564,NaN,NaN,124.0,42.0,NaN,NaN,NaN,61.0,178.0
24688,24688.0,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,NaN,NaN,35.0,4.0,NaN,NaN,NaN,17.0,23.0
24689,24689.0,2017.0,Paul Zipser,SF,22.0,CHI,44.0,NaN,843.0,6.9,...,0.775,NaN,NaN,125.0,36.0,NaN,NaN,NaN,78.0,240.0
24690,24690.0,2017.0,Ivica Zubac,C,19.0,LAL,38.0,NaN,609.0,17.0,...,0.653,NaN,NaN,159.0,30.0,NaN,NaN,NaN,66.0,284.0

2. Verificar quantos dados nulos estão presentes em cada tabela. Analisar quais colunas e linhas você eliminaria. Se possível aplique alguma técnica de imputação