In [1]:
import pandas as pd
import numpy as np

In [2]:
p_data_df = pd.read_csv('https://raw.githubusercontent.com/jherfson/curso-coderhouse/main/aula13/p_data.csv', sep=';')
p_data_df.head()

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [3]:
p_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             48841 non-null  float64
 1   Sex             48841 non-null  object
 2   ID              48842 non-null  int64
 3   Race            48841 non-null  object
 4   Country         48841 non-null  object
 5   Education       48841 non-null  object
 6   Education-Num   48841 non-null  float64
 7   Marital Status  48841 non-null  object
 8   Relationship    48841 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.4+ MB

In [4]:
p_data_df = p_data_df.dropna()
p_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48841 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             48841 non-null  float64
 1   Sex             48841 non-null  object
 2   ID              48841 non-null  int64
 3   Race            48841 non-null  object
 4   Country         48841 non-null  object
 5   Education       48841 non-null  object
 6   Education-Num   48841 non-null  float64
 7   Marital Status  48841 non-null  object
 8   Relationship    48841 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.7+ MB

In [5]:
p_data_df['Sex'].unique()

array([' Male', ' Female'], dtype=object)

In [7]:
p_data_df['Sex'] = p_data_df['Sex'].str.strip()
p_data_df['Sex'].unique()

array(['Male', 'Female'], dtype=object)